[Unit]
Description=Run VPN bot healthcheck every 10 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
AccuracySec=1min

[Install]
WantedBy=timers.target
